* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1920px;
  /* margin: 0 auto; */
}

.section-welcome {
  max-width: 600px;
  margin: 0 auto;
}

.hero-image {
  /* position: absolute; */
  width: 70%;
}

navbar {
  display: flex;
  justify-content: space-between;
}
