* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-color: #f4694d;
  --accent-color: #f7f6f0;
  --font-color: #131313;
  --menu-background-color: #222831;

  --color-primary: #2f67ec;
  --color-footer-background: #1f1d58;
  --color-footer: #f7f7f7;

  scroll-behavior: smooth;
}

body {
  max-width: 900px;
  margin: 0;
  /* height: 100vh; */
  /* display: grid; */
  place-items: center;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  filter: grayscale(60%);
  margin-bottom: 20px;
}

.menu-bar {
  position: sticky;
  top: 0;
  z-index: 99999;
  height: 6rem;
  background: linear-gradient(45deg, red, transparent 10%);
  background-color: var(--menu-background-color);
  color: var(--accent-color);
}

.menu-logo {
  margin-left: 1.6rem;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 3.6rem;
  z-index: 99;
}

.logo-home {
  display: flex;
}

nav {
  position: relative;
  background: #1f2635;
  font-weight: 400;
  font-size: 0;
  display: flex;
  padding: 0;
  width: 100%;
}

nav .item {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 20%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  margin-left: 1rem;
}

.dropdown {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 62px;
}

.dropdown a {
  display: block;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--color-primary);
}

.dropdown a:hover {
  background: #254fb5;
}

.underline {
  height: 6px;
  background: var(--color-primary);
  position: absolute;
  bottom: 0;
  width: 20%;
  z-index: 2;
  pointer-events: none;
  transition: 0.35s;
}

nav .item:hover > .dropdown > div {
  transform: translate(0);
}

nav .item:nth-child(1):hover ~ .underline {
  transform: translate(0, 0);
}

nav .item:nth-child(2):hover ~ .underline {
  transform: translate(100%, 0);
}

nav .item:nth-child(3):hover ~ .underline {
  transform: translate(200%, 0);
}

nav .item:nth-child(4):hover ~ .underline {
  transform: translate(300%, 0);
}

nav .item:nth-child(5):hover ~ .underline {
  transform: translate(400%, 0);
}
/* Menu end */

.divider {
  border-top: 0.1rem solid var(--menu-background-color);
  margin: 1rem 5rem 4rem 5rem;
}
.divider-heading {
  margin-top: 10rem;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

/* Welcome message start */
.welcome-message {
  font-size: 1.6rem;
  color: var(--font-color);
  line-height: 3rem;
}

.welcome-message > ul > li {
  padding: 2rem;
  list-style-type: none;
}
/* Welcome message end */

/* Footer start */
footer {
  position: fixed;
  left: 0;
  bottom: 12px;
  width: 100%;
  background: var(--menu-background-color);
  padding-top: 60px;
}

footer {
  position: relative;
  margin: 0 30px;
}

footer.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
  font-size: 1.6rem;
}

footer.bottom {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column-reverse; */
  gap: 8px;
  padding: 20px 0;
  text-align: center;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 10px; */
  margin-bottom: 30px;
  justify-content: space-between;
}

.links-column {
  display: grid;
  gap: 10px;

  min-height: 3.4rem;
  padding: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  font-weight: 200;

  border-left: 0.1rem solid #f7f6f0;
}

.links-column-header {
  min-height: 3.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
  border-radius: 8px;
  font-weight: 200;
}

.business-hours {
  display: flex;
  justify-content: space-between;
}

footer h2 {
  margin: 0 0 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255 255 255 / 96%);
}

footer a {
  color: var(--color-footer);
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-color);
}

footer p {
  margin: 0;
  justify-content: center;
}

.copyright {
  font-size: 1.6rem;
  color: var(--color-footer);
}

.social-icons {
  width: 3.2rem;
}

.social-icons:hover {
  transform: scale(1.1);
}

/* Footer end */

h1 {
  color: var(--font-color);
  font-size: 2.4rem;
  top: 0;
  padding: 20px;
}

.accreditation {
  max-width: 10%;
}

/* Cards start */

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  gap: 4rem;
}

.content {
  padding: 1.6rem;
  flex-grow: 1;
  height: 2.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(50, 50, 93, 0.25);
  background-color: white;
  cursor: pointer;
  width: 100%;
  flex-basis: 24rem;
  padding: 0.4rem;
  min-height: 50rem;
  transition: all 0.2s ease-in-out;
}

.content > h1 {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  line-height: 1.384615385;
}

.content > p {
  font-size: 1.6rem;
  line-height: 1.55;
  font-weight: 200;
}

.content a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 800;
}

.card-background {
  height: 20rem;
  transition: all 0.2s ease-in-out;
}

.card-background img {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.card:hover .card-background {
  height: 16rem;
}

.card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .action-bottom-bar a {
  opacity: 1;
}

/* Cards end */
